{% extends 'base.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block body %}
{{ include('nav/_nav.html.twig') }}
    <h1>Créer un produit</h1>
    <a href="{{ path('app_produit') }}">retour</a>

    {{ include('produit/_form.html.twig') }}
{% endblock %}
