{% extends 'base.html.twig' %}

{% block title %}Edit Compte{% endblock %}

{% block body %}
{{ include('nav/_nav.html.twig') }}

    <h1>Modifier mon compte</h1>
    <a href="{{ path('app_compte') }}">retour</a>

    {{ include('compte/_form.html.twig', {'button_label': 'Modifier'}) }}


{% endblock %}
